@{
    ViewData["Title"] = "Property Tax Portal";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome to Property Tax Portal</h1>
    <div style="height:200px; width:1000px">
      <img src="~/Images/Front.png" />
    </div>
    <div>
        <p>
            The offices of the Assessor, Auditor-Controller, Treasurer & Tax Collector, and Assessment Appeals Board have prepared this property tax information site to provide taxpayers with an overview and some specific detail about the property tax process in Los Angeles County.

            You will find answers to frequently asked questions (FAQs) and the most commonly requested property tax information.

            It is our hope that this information will be helpful to taxpayers in Los Angeles County.
        </p>
    </div>
</div>
